<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta name="renderer" content="webkit"/>
  <title>尖峰滑雪TSR</title>
  <link rel="stylesheet" type="text/css" href="../../css/Reset.css">
  <link rel="stylesheet" type="text/css" href="../../css/header.css">
  <link rel="stylesheet" type="text/css" href="../../css/footer.css">
  <link rel="stylesheet" type="text/css" href="../../css/alliance.css">
</head>
<body>
<header class="clearfix">
  <div class="logo-box">
    <img src="../../assets/img/logo.png" />
  </div>
  <ul class="menu-list clearfix">
    <li class="menu-item">
      <a href="index.html"><div>首页</div></a>
    </li>
    <li class="menu-item">
      <div>尖峰故事</div>
      <ul class="sub-menu clearfix">
        <a href="aboutus.html"><li>关于我们</li></a>
        <a href="creator.html"><li>创始人</li></a>
        <a href="alliance.html"><li>尖峰联盟</li></a>
      </ul>
    </li>
    <li class="menu-item">
      <div>世界杯专场</div>
      <ul class="sub-menu clearfix">
        <a href="hall-of-fame.html"><li>名人堂</li></a>
        <a href="arena.html"><li>传承竞技场</li></a>
      </ul>
    </li>
    <li class="menu-item">
      <div>尖峰视角</div>
      <ul class="sub-menu clearfix">
        <a href="recommand-video.html"><li>精选视频</li></a>
        <a href="knowledge.html"><li>理论分享</li></a>
        <a href="tech-video.html"><li>视频教程</li></a>
      </ul>
    </li>
    <li class="menu-item">
      <div>尖锋营</div>
      <ul class="sub-menu clearfix">
        <a href="camp.html"><li>竞技分级</li></a>
        <a href="live.html"><li>训练直播</li></a>
      </ul>
    </li>
    <li class="menu-item">
      <a href="join.html"><div>报名尖峰营</div></a>
    </li>
  </ul>
</header>
<div class="logo-intro">
  <img src="../../assets/img/alliance/alliance-1.jpg" />
  <p class="title">Treble Cone Race Academy(TCRA)</p>
  <p class="intro-first">
    位于新西兰四大滑雪场之一的竞技学校，校长Guenther Birgmann是闻名世界的竞技教练。
    <br />
    曾为多国培养出了数名优秀青年运动员。
  </p>
  <p class="intro-second">
    Guenther的团队成员多为前国家队队员及教练。整个学院被专业和严谨的教学氛围围绕。
    <br />
    TRCA为保证课程进度，只招收高水平竞技滑雪者。
  </p>
</div>
<div class="intro-box">
  <img src="../../assets/img/alliance/alliance-2.jpg" />
  <p class="title">TCRA理念</p>
  <p class="intro">
    我们不会为不达标的表现找任何借口。<br />
    我们不会用喊空话来激励运动员，我们注重的是有深度的学习过程。<br />
    我们不会刻意营造压力，过分的强度以及紧张的环境。<br />
    经验，努力，勤勉和专注是成功的关键。
  </p>
</div>
<div class="ow-box">
  <img src="../../assets/img/alliance/alliance-3.jpg" />
  <p class="title">OW</p>
  <p class="title">分析</p>
  <p class="intro">
    作为一个由十五位顶尖教练联手打造的竞技学校，我和其他运动员们每天的训练时间都得到了最专业有效的安排。
    无论在雪上旗门间的每一次转弯还是干地训练的每一组动作都有专业人员指导和分析。新西兰的反季节给予了TCRA另一个得天独厚的优势。
    每年TCRA都会作为东道主迎接来到新西兰的美国、奥地利、法国等各个国家的顶级运动员。
    我们在TCRA训练时时常与世界顶尖高手公用训练设施，通过这种模式我的心态变得更坚定也更自信。
  </p>
</div>
<div class="bottom-img">
  <img src="../../assets/img/alliance/alliance-4.jpg">
</div>
<footer>
  尖峰竞技滑雪&nbsp;&nbsp;&nbsp;&nbsp;京ICP备18046119号-1
</footer>
</body>
</html>