<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta name="renderer" content="webkit"/>
  <title>尖峰滑雪TSR</title>
  <link rel="stylesheet" type="text/css" href="../../css/Reset.css">
  <link rel="stylesheet" type="text/css" href="../../css/header.css">
  <link rel="stylesheet" type="text/css" href="../../css/footer.css">
  <link rel="stylesheet" type="text/css" href="../../css/camp.css">
</head>
<body>
<header class="clearfix">
  <div class="logo-box">
    <img src="../../assets/img/logo.png" />
  </div>
  <ul class="menu-list clearfix">
    <li class="menu-item">
      <a href="index.html"><div>首页</div></a>
    </li>
    <li class="menu-item">
      <div>尖峰故事</div>
      <ul class="sub-menu clearfix">
        <a href="aboutus.html"><li>关于我们</li></a>
        <a href="creator.html"><li>创始人</li></a>
        <a href="alliance.html"><li>尖峰联盟</li></a>
      </ul>
    </li>
    <li class="menu-item">
      <div>世界杯专场</div>
      <ul class="sub-menu clearfix">
        <a href="hall-of-fame.html"><li>名人堂</li></a>
        <a href="arena.html"><li>传承竞技场</li></a>
      </ul>
    </li>
    <li class="menu-item">
      <div>尖峰视角</div>
      <ul class="sub-menu clearfix">
        <a href="recommand-video.html"><li>精选视频</li></a>
        <a href="knowledge.html"><li>理论分享</li></a>
        <a href="tech-video.html"><li>视频教程</li></a>
      </ul>
    </li>
    <li class="menu-item">
      <div>尖锋营</div>
      <ul class="sub-menu clearfix">
        <a href="camp.html"><li>竞技分级</li></a>
        <a href="live.html"><li>训练直播</li></a>
      </ul>
    </li>
    <li class="menu-item">
      <a href="join.html"><div>报名尖峰营</div></a>
    </li>
  </ul>
</header>
<div class="content">
  <p class="big-title">竞技分级</p>
  <p class="title">U12</p>
  <p class="intro">
    年龄小于12岁，刚开始接触竞技滑雪并对其有基本了解。可完成散滑、平行式转弯等基础动作及完成旗门内的最基本滑行，了解最基本的旗门理论最佳路线等等。
    此级别运动员将带包Tripeak竞技滑雪队参加地区性竞技滑雪比赛。
  </p>
  <p class="title">U14</p>
  <p class="intro">
    年龄12-14岁，拥有竞技滑雪经验并对竞技滑雪有一定了解。已掌握平行式滑行并可在流畅滑行角度较大的旗门，同时接触过最基本的卡宾滑行。
    U14运动员还需要掌握进阶旗门技巧如适应性调整站姿等等。
    此级别运动员将代表Tripeak竞技滑雪队参加地区性竞技滑雪比赛，表现优异的U14运动员有机会加入U16训练。
  </p>
  <p class="title">U16</p>
  <p class="intro">
    年龄14-16岁，熟练掌握平行式滑行技术并基本掌握卡宾式滑行，可通过滑行展现大小回转，同时了解如何完成竞技大小回转、旗门内高技巧如如何让应对注水雪面以及进阶滑行路线。
    运动员还需拥有参赛经验并知道如何滑出最快时间。此级别运动员将有机会代表Tripeak竞技滑雪队参加国家认证比赛，表现优异的U16运动员有机会加入U19/U21训练。
  </p>
  <p class="title">U19/U20</p>
  <p class="intro">
    年龄19-21岁，熟练掌握卡宾滑行技术，轻松完成竞技大小回转，熟知大部分旗门技巧并对竞技滑雪由系统性认知。
    同时要求运动员参赛经验丰富且取得一定成绩。此级别运动员将代表Tripeak竞技滑雪队参加国家及FIS认证比赛。
  </p>
  <p class="title">Elite</p>
  <p class="intro">
    年龄大于25岁，要求精通竞技滑雪及比赛技术，参加经验丰富且愿意接受长期训练并愿意成为竞技滑雪运动员。
    Elite级别运动员训练模式较为严格且时间紧凑，此级别运动员将作为主力参加国内、国际各类大型赛事及世界杯比赛。
  </p>
  <p class="more">敬请期待...</p>
</div>
<footer>
  尖峰竞技滑雪&nbsp;|&nbsp;帮助中心&nbsp;|联系我们&nbsp;400-111-1111&nbsp;&nbsp;&nbsp;&nbsp;2000-2018&nbsp;Tripeak&nbsp;Ski&nbsp;Racing&nbsp;&nbsp;京ICP备18046119号-1
</footer>
</body>
</html>