<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta name="renderer" content="webkit"/>
  <title>尖峰滑雪TSR</title>
  <link rel="stylesheet" type="text/css" href="../../css/Reset.css">
  <link rel="stylesheet" type="text/css" href="../../css/header.css">
  <link rel="stylesheet" type="text/css" href="../../css/footer.css">
  <link rel="stylesheet" type="text/css" href="../../css/join.css">
</head>
<body>
<header class="clearfix">
  <div class="logo-box">
    <img src="../../assets/img/logo.png" />
  </div>
  <ul class="menu-list clearfix">
    <li class="menu-item">
      <a href="index.html"><div>首页</div></a>
    </li>
    <li class="menu-item">
      <div>尖峰故事</div>
      <ul class="sub-menu clearfix">
        <a href="aboutus.html"><li>关于我们</li></a>
        <a href="creator.html"><li>创始人</li></a>
        <a href="alliance.html"><li>尖峰联盟</li></a>
      </ul>
    </li>
    <li class="menu-item">
      <div>世界杯专场</div>
      <ul class="sub-menu clearfix">
        <a href="hall-of-fame.html"><li>名人堂</li></a>
        <a href="arena.html"><li>传承竞技场</li></a>
      </ul>
    </li>
    <li class="menu-item">
      <div>尖峰视角</div>
      <ul class="sub-menu clearfix">
        <a href="recommand-video.html"><li>精选视频</li></a>
        <a href="knowledge.html"><li>理论分享</li></a>
        <a href="tech-video.html"><li>视频教程</li></a>
      </ul>
    </li>
    <li class="menu-item">
      <div>尖锋营</div>
      <ul class="sub-menu clearfix">
        <a href="camp.html"><li>竞技分级</li></a>
        <a href="live.html"><li>训练直播</li></a>
      </ul>
    </li>
    <li class="menu-item">
      <a href="join.html"><div>报名尖峰营</div></a>
    </li>
  </ul>
</header>
<img class="img-bg" src="../../assets/img/join/join-bg.jpg">
<div class="first-page page">
  <div class="top-join-btn red-btn">点击报名</div>
  <p class="big-title">尖峰营第一期</p>
  <p class="title">一、服务项目</p>
  <p class="intro">初生的尖峰营在这一期只针对10-16岁青少年滑雪者，我们会通过报名运动员的滑雪视频和经历来判断大家是否适合加入尖峰营的这一期训练。</p>
  <p class="intro">本期尖峰营TER Camp主要针对大中小回转散滑技术，基本和中级的旗门技术以及竞技滑雪装备信息，主要动作和身体部位的运用。</p>
  <p class="intro">我们还会提供Tripeak滑雪服以及护具，并根据您们所提供的视频以及第一天的试水滑行来给出一个合理的预期。这份预估会根据不同的运动员有所不同。</p>
  <p class="title">二、日程安排</p>
  <p class="intro">报名时间：</p>
  <p class="intro">开营时间：</p>
  <p class="intro">费用金额：<span class="red"></span></p>
  <p class="intro">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点：</p>
  <p class="intro">交&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通：</p>
  <p class="intro">住&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宿</p>
  <p class="title">三、本期教练</p>
  <div class="img-list clearfix">
    <div class="img-box">
      <div class="cover">
        <p>暂未确定</p>
        <!--<p>(美国)</p>-->
      </div>
      <img src="../../assets/img/join/join-1.jpg">
    </div>
    <div class="img-box">
      <div class="cover">
        <p>暂未确定</p>
        <!--<p>(美国)</p>-->
      </div>
      <img src="../../assets/img/join/join-2.jpg">
    </div>
    <div class="img-box">
      <div class="cover">
        <p>暂未确定</p>
        <!--<p>(奥地利)</p>-->
      </div>
      <img src="../../assets/img/join/join-3.jpg">
    </div>
    <div class="img-box">
      <div class="cover">
        <p>暂未确定</p>
        <!--<p>(美国)</p>-->
      </div>
      <img src="../../assets/img/join/join-3.jpg">
    </div>
  </div>
  <p class="title">四、缴费服务</p>
  <p class="intro">支付方式：支持微信、支付宝以及银联卡</p>
  <p class="tips">我们会提供全封闭的竞技训练环境，让训练最安全，最有效率！</p>
  <div class="bottom-join-btn red-btn">点击报名</div>
  <p class="waitting">敬请期待...</p>
</div>
<div class="second-page page">
  <p class="title">课程预定信息录入<span class="tip red">*为必填项目</span></p>
  <div class="row">
    <span class="label"><span class="red">*</span>姓名</span>
    <input type="text" class="name">
  </div>
  <div class="row">
    <span class="label"><span class="red">*</span>性别</span>
    <input type="text" class="sex">
  </div>
  <div class="row">
    <span class="label"><span class="red">*</span>年龄</span>
    <input type="text" class="age">
  </div>
  <div class="row">
    <span class="label"><span class="red">*</span>身份证号／护照号</span>
    <input type="text" class="idCard">
  </div>
  <div class="row">
    <span class="label"><span class="red">*</span>联系方式</span>
    <input type="text" class="tel">
  </div>
  <div class="row">
    <span class="label">监护人姓名</span>
    <input type="text" class="pName">
  </div>
  <div class="row">
    <span class="label">监护人身份证号</span>
    <input type="text" class="pIdCard">
  </div>
  <div class="row">
    <span class="label">监护人联系方式</span>
    <input type="text" class="pTel">
  </div>
  <div class="row">
    <span class="label">备注</span>
    <input type="text" class="addition">
  </div>
  <div class="submit-red-btn red-btn">确认提交</div>
  <p class="waitting">敬请期待...</p>
</div>
<div class="third-page page">
  <p class="title">冬令营预定信息</p>
  <div class="row">
    <span class="label">姓名</span>
    <span class="name value"></span>
  </div>
  <div class="row">
    <span class="label">性别</span>
    <span class="sex value"></span>
  </div>
  <div class="row">
    <span class="label">年龄</span>
    <span class="age value"></span>
  </div>
  <div class="row">
    <span class="label">身份证号／护照号</span>
    <span class="idCard value"></span>
  </div>
  <div class="row">
    <span class="label">联系方式</span>
    <span class="tel value"></span>
  </div>
  <div class="row">
    <span class="label">备注信息</span>
    <span class="addition value"></span>
  </div>
  <!--<div class="row">-->
    <!--<span class="label">参加时间</span>-->
    <!--<span class="value">10月20日&nbsp;周日</span>-->
  <!--</div>-->
  <div class="row">
    <span class="label">名称</span>
    <span class="value">冬令营</span>
  </div>
  <!--<div class="row">-->
    <!--<span class="label">价格</span>-->
    <!--<span class="value"><span class="red">¥1199</span></span>-->
  <!--</div>-->
  <div class="btn-box">
    <div class="cancel-btn red-btn">返回修改</div>
    <div class="submit-join-btn red-btn">确认提交</div>
  </div>
  <p class="waitting">敬请期待...</p>
</div>
<div class="forth-page page"></div>
<footer>
  Tripeak&nbsp;Ski&nbsp;Racing&nbsp;&nbsp;京ICP备18046119号-1
</footer>
</body>
<script src="../../coms/js/join.js"></script>
</html>