.logo-intro {
  position: relative;
  padding: 265px 275px 0;
  width: 100%;
  height: 620px;
}
.logo-intro img {
  position: absolute;
  display: block;
  width: 190px;
  top: 215px;
  right: 275px;
}
.logo-intro .title {
  font-size: 28px;
}
.logo-intro .intro-first {
  margin-top: 50px;
  font-size: 16px;
}
.logo-intro .intro-second {
  margin-top: 50px;
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  .logo-intro img {
    right: 50px;
  }
}
.intro-box {
  position: relative;
  width: 100%;
  height: 570px;
  color: #ffffff;
}
.intro-box img {
  display: block;
  width: 100%;
  height: 100%;
}
.intro-box .title {
  position: absolute;
  top: 145px;
  left: 330px;
  font-size: 30px;
}
.intro-box .intro {
  position: absolute;
  top: 210px;
  left: 330px;
  font-size: 18px;
}
.ow-box {
  position: relative;
  padding: 100px 0;
}
.ow-box img {
  z-index: 1;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ow-box .title {
  z-index: 10;
  position: relative;
  margin: 0 auto;
  width: 600px;
  color: #0c246d;
  font-size: 60px;
  line-height: 60px;
}
.ow-box .intro {
  z-index: 10;
  position: relative;
  margin: 20px auto 0;
  width: 600px;
  color: #0c246d;
  font-size: 20px;
}
.bottom-img {
  width: 100%;
}
.bottom-img img {
  display: block;
  width: 100%;
  height: 100%;
}
