.logo-intro {
  position: relative;
  width: 100%;
  height: 620px;
}
.logo-intro img {
  display: block;
  width: 100%;
  height: 100%;
}
.logo-intro .title {
  position: absolute;
  top: 265px;
  left: 275px;
  font-size: 28px;
}
.logo-intro .intro-first {
  position: absolute;
  top: 325px;
  left: 275px;
  font-size: 16px;
}
.logo-intro .intro-second {
  position: absolute;
  top: 400px;
  left: 275px;
  font-size: 16px;
}
.intro-box {
  position: relative;
  width: 100%;
  height: 570px;
  color: #ffffff;
}
.intro-box img {
  display: block;
  width: 100%;
  height: 100%;
}
.intro-box .title {
  position: absolute;
  top: 145px;
  left: 330px;
  font-size: 30px;
}
.intro-box .intro {
  position: absolute;
  top: 210px;
  left: 330px;
  font-size: 18px;
}
.ow-box {
  position: relative;
}
.ow-box img {
  display: block;
  width: 100%;
  height: 100%;
}
.ow-box .title {
  position: absolute;
  left: 325px;
  color: #0c246d;
}
.ow-box .title:nth-child(2) {
  top: 130px;
  font-size: 60px;
}
.ow-box .title:nth-child(3) {
  top: 187px;
  font-size: 60px;
}
.ow-box .intro {
  position: absolute;
  top: 300px;
  left: 325px;
  width: 935px;
  color: #0c246d;
  font-size: 20px;
}
.bottom-img {
  width: 100%;
}
.bottom-img img {
  display: block;
  width: 100%;
  height: 100%;
}
