body {
  overflow: auto;
  background-color: #000001;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
p {
  margin: 0;
}
.content {
  width: 1600px;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  background-color: rgba(23, 49, 125, 0.8);
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.cover:hover {
  opacity: 0;
  transform: scale(1.5);
}
.left-box {
  float: left;
  margin-right: 10px;
  display: inline-block;
  width: 308px;
}
.left-box .top {
  position: relative;
  overflow: hidden;
  height: 255px;
  line-height: 255px;
}
.left-box .middle {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  height: 240px;
  line-height: 240px;
}
.left-box .bottom {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  height: 255px;
  line-height: 255px;
}
.middle-box {
  float: left;
  display: inline-block;
  width: 745px;
}
.middle-box .top .left {
  float: left;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
  width: 310px;
  height: 335px;
  line-height: 335px;
}
.middle-box .top .right {
  float: left;
  display: inline-block;
  width: 425px;
}
.middle-box .top .right .right-top {
  position: relative;
  overflow: hidden;
  height: 170px;
  line-height: 170px;
}
.middle-box .top .right .right-bottom {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  height: 160px;
  line-height: 160px;
}
.middle-box .bottom {
  margin-top: 10px;
}
.middle-box .bottom .left {
  float: left;
}
.middle-box .bottom .left .left-top .left-top-left {
  float: left;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  width: 260px;
  height: 250px;
  line-height: 250px;
}
.middle-box .bottom .left .left-top-right {
  float: right;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  line-height: 250px;
}
.middle-box .bottom .left .left-bottom {
  margin-top: 10px;
}
.middle-box .bottom .left .left-bottom .left-bottom-left {
  float: left;
  position: relative;
  overflow: hidden;
  width: 355px;
  height: 170px;
  line-height: 170px;
}
.middle-box .bottom .left .left-bottom .left-bottom-right {
  float: right;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 170px;
  line-height: 170px;
}
.middle-box .bottom .right {
  float: right;
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 430px;
  line-height: 430px;
}
.right-box {
  float: right;
  width: 525px;
}
.right-box .top .left {
  margin-right: 10px;
  float: left;
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 480px;
  line-height: 480px;
}
.right-box .top .right .right-top {
  position: relative;
  overflow: hidden;
  width: 345px;
  height: 215px;
  line-height: 215px;
}
.right-box .top .right .right-bottom {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  width: 345px;
  height: 255px;
  line-height: 255px;
}
.right-box .bottom {
  margin-top: 10px;
}
.right-box .bottom .left {
  float: left;
}
.right-box .bottom .left .left-top {
  position: relative;
  overflow: hidden;
  width: 345px;
  height: 130px;
  line-height: 130px;
}
.right-box .bottom .left .left-bottom {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  width: 345px;
  height: 140px;
  line-height: 140px;
}
.right-box .bottom .right {
  float: right;
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 290px;
  line-height: 290px;
}
