p {
  margin: 0;
}
.img-bg {
  display: block;
  width: 100%;
  height: 1650px;
}
.page {
  position: absolute;
  top: 290px;
  left: 50%;
  margin-left: -450px;
  width: 900px;
}
.red {
  font-weight: bold;
  color: #7c0003;
}
.red-btn {
  width: 160px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  background-color: #7c0003;
  cursor: pointer;
}
.first-page {
  padding-top: 30px;
}
.first-page .top-join-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.first-page .big-title {
  font-size: 28px;
}
.first-page .title {
  margin-top: 50px;
  font-size: 16px;
  font-weight: bold;
}
.first-page .intro {
  margin-top: 10px;
  font-size: 16px;
}
.first-page .img-list .img-box {
  margin-left: 10px;
  float: left;
  position: relative;
  overflow: hidden;
  width: 210px;
  height: 210px;
}
.first-page .img-list .img-box:hover .cover {
  opacity: 0;
  transform: scale(1.5);
}
.first-page .img-list .img-box img {
  display: block;
  width: 100%;
  height: 100%;
}
.first-page .img-list .img-box .cover {
  position: absolute;
  padding-top: 88px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 0.5s;
}
.first-page .tips {
  margin-top: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.first-page .bottom-join-btn {
  margin: 70px auto 0;
}
.first-page .waitting {
  margin-top: 55px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
.second-page {
  display: none;
  padding-top: 100px;
}
.second-page .title {
  margin-bottom: 30px;
  padding-left: 225px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.second-page .title .tip {
  margin-left: 25px;
  font-size: 12px;
}
.second-page .row {
  text-align: center;
  margin-bottom: 10px;
}
.second-page .row .label {
  margin-right: 25px;
  display: inline-block;
  width: 220px;
  text-align: right;
  font-size: 20px;
}
.second-page .row input {
  outline: none;
  padding-left: 10px;
  width: 330px;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  border: 1px solid #999999;
}
.second-page .submit-red-btn {
  margin: 55px auto 0;
}
.second-page .waitting {
  margin-top: 55px;
  font-size: 30px;
  color: #000001;
  text-align: center;
}
.third-page {
  display: none;
  padding-top: 100px;
}
.third-page .title {
  margin-bottom: 60px;
  font-size: 20px;
  text-align: center;
}
.third-page .row {
  margin: 0 auto 10px;
  width: 350px;
  text-align: center;
  border-bottom: 1px solid #999999;
}
.third-page .row .label {
  display: inline-block;
  margin-right: 20px;
  width: 130px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
.third-page .row .value {
  display: inline-block;
  width: 150px;
  font-size: 14px;
  text-align: left;
}
.third-page .btn-box {
  margin-top: 90px;
  text-align: center;
}
.third-page .btn-box .cancel-btn {
  background-color: #464647;
}
.third-page .btn-box .red-btn {
  display: inline-block;
}
.third-page .waitting {
  margin-top: 100px;
  font-size: 35px;
  text-align: center;
}
