.top-img {
  width: 100%;
  height: 835px;
}
.top-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.bottom-img {
  width: 100%;
  height: 1055px;
}
.bottom-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.content-wrap {
  padding: 108px 0px 170px;
  color: #ffffff;
  background: url("../assets/img/recommand-video/re-video-content.jpg") 100% 100%;
}
.content-wrap .title {
  margin: 0 0 60px;
  font-size: 24px;
  text-align: center;
  line-height: 24px;
}
.content-wrap .intro {
  margin: 0 auto 35px;
  width: 1140px;
  font-size: 18px;
  line-height: 24px;
}
.video-wrap {
  padding: 150px 220px 200px;
  text-align: center;
  background-color: #000001;
}
.video-wrap .video-box {
  float: left;
  position: relative;
  width: 50%;
  height: 375px;
  overflow: hidden;
  cursor: pointer;
}
.video-wrap .video-box:hover img {
  transform: scale(1.2);
}
.video-wrap .video-box .cover {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 140px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  background-color: rgba(23, 49, 125, 0.8);
}
.video-wrap .video-box .cover i {
  margin-bottom: 35px;
  font-size: 70px;
}
.video-wrap .video-box .cover p {
  font-size: 16px;
}
.video-wrap .video-box img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.7s;
}
.video-play-box {
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-play-box.active-video-play-box {
  z-index: 999;
  opacity: 1;
}
.video-play-box .cover {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.video-play-box .content {
  z-index: 20;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 600px;
  background-color: #000001;
}
.video-play-box .content video {
  display: block;
  width: 100%;
  height: 100%;
}
