.top-img {
  width: 100%;
  height: 755px;
}
.top-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.bottom-img {
  width: 100%;
  height: 670px;
}
.bottom-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.video-wrap {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
  width: 1125px;
  height: 480px;
}
.video-wrap .more {
  float: left;
  width: 375px;
  height: 240px;
  background-color: rgba(23, 49, 125, 0.8);
}
.video-wrap .more p {
  margin: 0;
  line-height: 240px;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}
.video-wrap .video {
  position: relative;
  float: left;
  width: 375px;
  height: 240px;
  overflow: hidden;
  cursor: pointer;
}
.video-wrap .video:hover .cover {
  opacity: 0;
  transform: scale(1.5);
}
.video-wrap .video .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 49, 125, 0.8);
  transition: all ease-in-out 0.5s;
}
.video-wrap .video img {
  display: block;
  width: 100%;
  height: 100%;
}
.video-wrap .video p {
  margin: 0;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.video-wrap .video p.video-title {
  top: 55px;
  font-size: 24px;
}
.video-wrap .video p.icon {
  top: 100px;
  font-size: 36px;
}
.first-wrap {
  position: relative;
  width: 100%;
  height: 1260px;
  color: #ffffff;
  background: url("../assets/img/tech-video/tech-video-1.jpg") 100% 100%;
}
.first-wrap .title {
  position: absolute;
  top: 170px;
  left: 245px;
  font-size: 48px;
}
.second-wrap {
  position: relative;
  width: 100%;
  height: 1200px;
  color: #ffffff;
  background: url("../assets/img/tech-video/tech-video-2.jpg") 100% 100%;
}
.second-wrap .title {
  position: absolute;
  top: 200px;
  right: 280px;
  font-size: 48px;
}
.third-wrap {
  position: relative;
  width: 100%;
  height: 1268px;
  color: #ffffff;
  background: url("../assets/img/tech-video/tech-video-3.jpg") 100% 100%;
}
.third-wrap .title {
  position: absolute;
  top: 260px;
  right: 380px;
  color: #000001;
  font-size: 48px;
}
